<div class="card-box">
  <div class="row">
    <div class="col-sm-4">
      <a routerLink="Create" id="addbtn" class="btn btn-success btn-rounded"
        >Add New</a
      >
    </div>
  </div>
  <br />

  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered" id="datatable" role="grid">
        <thead class="bg-primary text-white">
          <tr role="row">
            <th>code</th>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employeedata">
            <td>{{ emp.id }}</td>
            <td>{{ emp.name }}</td>
            <td>{{ emp.adress }}</td>
            <td>{{ emp.salary }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
