<!-- <h3>Employee list</h3>
<table class="table">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employee.Employees">
      <td>
        {{ emp.id }}
      </td>
      <td>
        {{ emp.name }}
      </td>
      <td>
        {{ emp.email }}
      </td>
      <td>
        {{ emp.phone }}
      </td>
       <td><a routerLink="Edit/{{ emp.id }}" class="btn"></a></td> 
    </tr>
  </tbody>
</table>

<br />
<br />

<h3>Employee list with API</h3>
<table class="table">
  <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Adress</th>
  </thead>
  <tbody>
    <tr *ngFor="let emp of workers">
      <td>
        {{ emp.id }}
      </td>
      <td>
        {{ emp.name }}
      </td>
      <td>
        {{ emp.email }}
      </td>
      <td>
        {{ emp.adress }}
      </td>
      <td><a routerLink="Edit/{{ emp.id }}" class="btn"></a></td> 
    </tr>
  </tbody>
</table> -->
