.table {
  border: 1px solid;
  margin-left: 10px;
  margin-right: 20px;
  width: 100%;
}
th {
  margin-left: 20px;
  width: 10%;
}
td {
  border: 1px solid;
  margin-left: 40px;
  width: 10%;
}
tr {
  border: 1px solid;
  margin-left: 20px;
  width: 10%;
  border-bottom: 1px;
  border-bottom-color: black;
}
